absl-py==0.9.0
altgraph==0.17
asgiref==3.2.10
astroid==2.4.2
astunparse==1.6.3
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
cachetools==4.1.1
Camelot==12.6.29
certifi==2020.6.20
cffi==1.14.2
channels==2.4.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==3.1
cx-Freeze==6.2
daphne==2.5.0
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1
djangorestframework==3.12.1
Elixir==0.7.1
future==0.18.2
gast==0.3.3
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.31.0
guidata==1.7.9
guiqwt==3.0.5
gunicorn==20.0.4
h5py==2.10.0
hyperlink==20.0.1
idna==2.10
importlib-metadata==1.7.0
incremental==17.5.0
isort==5.5.2
Jinja2==2.11.2
Keras-Preprocessing==1.1.2
lazy-object-proxy==1.4.3
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.5
oauthlib==3.1.0
opencv-contrib-python==4.4.0.42
opencv-python==4.4.0.42
opt-einsum==3.3.0
pbr==5.4.5
pefile==2019.4.18
Pillow==7.2.0
playsound==1.2.2
postgres==3.0.0
protobuf==3.13.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pylint==2.6.0
pyOpenSSL==19.1.0
PyQt5==5.15.0
PyQt5-sip==12.8.1
PyQt5-stubs==5.14.2.2
PyQtDataVisualization==5.15.0
pyqtgraph==0.11.0
PyQtPurchasing==5.15.0
PySide2==5.15.0
PythonQwt==0.8.3
pytz==2020.1
pywin32-ctypes==0.2.0
QScintilla==2.11.5
QtPy==1.9.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scipy==1.4.1
service-identity==18.1.0
setuptools==0.7.3
shiboken2==5.15.0
six==1.15.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.13.0
sqlparse==0.3.1
Tempita==0.5.2
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
toml==0.10.1
Twisted==20.3.0
txaio==20.4.1
typed-ast==1.4.1
urllib3==1.25.10
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
xlrd==0.7.1
xlwt==0.7.2
zipp==3.1.0
zope.interface==5.1.0
